
p{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    padding-top: 2%;
}
$primary: rgb(59, 122, 182);
button.btn.btn-primary{
    color:black;
    border-radius: 5px;
    &:hover {
        background: rgb(0,60,99);
        background: linear-gradient(0deg, rgba(0,60,99,1) 0%, rgb(79, 119, 156) 74%);
        color:white;
    }
}