
<p>Szakszolgálati engedély adatai:</p>

<form  (ngSubmit)="onSubmit()" >
    <label for="username">Típusjogosítás</label><br>
    <input type="text"  class="form-control" [formControl]="planeType" placeholder="Jármű típusa" />
<br>


  <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Bevitel
    </button>

    
    
</form>


