/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body.mat-typography{
    background-image: url("pictures/bg.jpg");
    background-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    color:white;
    font-size: 20px;
}